/* // REG 1801459 */

.form-login {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding:20px;
}
.form-login input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button[type="submit"] {
    display: block;
    margin: 20px auto;
}
